@{
    ViewData["Title"] = "Teste de Performance (TP3)";
}

<!--
<div class="text-center">
    <h1 class="display-4 fw-bold">Bem-vindo</h1>
    <p>Saiba mais sobre <a href="https://docs.microsoft.com/aspnet/core" target="_blank">como criar aplicativos Web com ASP.NET Core</a>.</p>
</div>
-->

<div>
    <h2 class="text-center fw-bold display-3">Teste de Performance (TP3)</h2>

    <p>
        Chegamos em uma das etapas de preparação!
        A cada Teste de Performance (TP) você terá a oportunidade de praticar os conhecimentos
        adquiridos e receber feedbacks relevantes para o seu aprendizado.
    </p>
    <p>
        Para este TP, você deverá criar um projeto do tipo ASP.NET Core Web App (Model-View-Controller),
        que deverá ter 3 classes do tópico/contexto de sua escolha.
    </p>
    <ul>
        <li>
            Após a criação dessas classes, criar a base a base de dados localmente, conforme visto em aula;
        </li>
        <li>
            Popular as tabelas criadas no banco local, conforme visto em aula;
        </li>
        <li>
            Criar uma controller que consiga ler, alterar, incluir e apagar registros, conforme visto em aula.
        </li>
    </ul>
    <p>
        Assim que terminar, salve o seu TP em um arquivo ZIP ou PDF (constando endereço github),
        e poste na etapa correspondente no Moodle respeitando a seguinte nomenclatura:
        “nome_sobrenome_DR4_TP3.zip” ou “nome_sobrenome_DR4_TP3.PDF”.
    </p>
</div>
